@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
	background-color: #ceaf67;
	color: #fff;
}

.text-custom {
	color: #ceaf67;
}

.active {
	color: #ceaf67;
	border-bottom: 2px solid #ceaf67;
}

.fixed-top {
	position: fixed;
	top: 10;
	background-color: white;
	z-index: 1;
}

.tiptap:first-child {
	margin-top: 0;
}

.tiptap ul,
ol {
	padding: 0 1rem;
	/* margin: 1.25rem 1rem 1.25rem 0.4rem; */
}

.tiptap li p {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.tiptap p {
	line-height: 1.8rem;
}

.tiptap h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	margin-top: 0.5rem;
	text-wrap: pretty;
}

.tiptap h1,
h2 {
	margin: 1rem 0rem;
}

.tiptap h1 {
	font-size: 2rem;
}

.tiptap h2 {
	font-size: 1.6rem;
}

.tiptap h3 {
	font-size: 1.2rem;
}

.tiptap h4,
h5,
h6 {
	font-size: 1rem;
}

/* Code and preformatted text styles */
.tiptap code {
	background-color: black;
	border-radius: 0.4rem;
	color: white;
	font-size: 0.85rem;
	padding: 0.25em 0.3em;
}

.tiptap pre {
	background-color: black;
	border-radius: 0.5rem;
	color: white;
	font-family: "JetBrainsMono", monospace;
	margin: 1.5rem 0;
	padding: 0.75rem 1rem;
}

.tiptap blockquote {
	border-left: 3px solid #7e7e7e;
	padding-left: 1rem;
	font-style: italic;
}

.tiptap hr {
	border: none;
	border-top: 2px solid gray;
	margin: 1.5rem 0;
}

.tiptap a {
	color: blue;
	text-decoration: underline;
}
